

.credits {
    font-family: Signifier, 'Times New Roman', Times, serif;
    margin-top: 20%;
    margin-bottom: 2.5%;
}



.bio-container {
    transform: translateY(4%);
    background-color: aliceblue;
    border: 2px solid darkgray;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bio-content {
    font-family: Soehne, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
    font-size: 23px;
    justify-content: center;
    padding-left: 10%;
    width: 75%; /* Limit the width to 80% of the parent container */
    margin-top: 3%;
    overflow: clip;
}

.p-bio {
    padding-top: 1%;
    line-height: 1.25;
}

.h3-bio {
    padding-top: 3%;
    padding-bottom: 2%;
}

.li-bio {
    padding-top: 0.75%;
    line-height: 1.8;
}

.bio-pitch {
    width: 75%;
    overflow: clip;
    margin-left: 10%;
    font-family: Soehne, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
    margin-top: 20%;
    line-height: 1.25;
}

.h1-bio {
    font-size: 90px;
    margin-bottom: 2%;
    font-family: Signifier, 'Times New Roman', Times, serif;
}