.stretched-graph {
    width:80vw;
    height:70vh;
    margin-left:10%;
    margin-top:5%;
    margin-bottom:5%;
    border:1px solid black;
}

.dashboard {
    display:flex;
    margin-left:10%;
}

.dashboard > div {
    display:block;
    justify-content: center;
    margin-right:20%;
}

.stretched-graph:not([src]) {
    display:none;
}

.feedback-element {
    border: none;
    border-radius: 6px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin-top:4px;
    margin-bottom:4px;
    margin-left:10%;
    margin-right:2%;
    cursor: pointer;
    height:100%;
    background-color:white;
}

.dash-info {
    transform: translateY(4%);
    background-color: aliceblue;
    border: 2px solid darkgray;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top:5%;
    margin-right:25%;
}